.body-left#bodyLeft
	.figure
		.playground#playground
			.arrows
				//- Insert daynamic SVG elements.
				svg
					path#basePath(d="M320,50 V360 H20 V100 H320")
			.start
			.loop.begin Loop
			.field
				.choose(data-x="0" data-y="0")
			.loop.end Loop