.header
	.container
		.left
			.level-selector#lvSelector
				.label 課題
				.select#lvSelect
					.value Lv.1 線を踏んだら車両を止めよう！
				.dropdown#lvDropdown
					.item(data-level="1") Lv.1 線を踏んだら車両を止めよう！
					.item(data-level="2") Lv.2 線を踏んだらバックして右旋回させよう！
					.item(data-level="3") Lv.3 線からはみ出ないように走ってみよう！

		.right
			.generate-code
				span.ion-code-download
			.clear-figures
				span.ion-ios-trash