<!DOCTYPE html>
html(lang="ja")
head
	meta(charset="UTF-8")
	title Builder.verβ
	link(rel="stylesheet" href="main.css")
body

	include ./header.pug

	include ./figure.pug

	include ./parts.pug

	script(src="./bundle.js")