.body-right#bodyRight
	.parts#parts
		.head 条件分岐
		.row
			.if(data-type="center") センサ
		.row
			.if(data-type="right") 右センサ
			.if(data-type="left") 左センサ
		.head 条件
		.row
			.condition.white
			.condition.black
		.head 動作
		.row
			.action 前進
			.action 後進
			.action 停止
		.row
			.action 右旋回
			.action 左旋回